%h1 #{layer['name']}
.row-fluid
  .span6
    %h2 Old query
  .span6
    %h2 New query
.row-fluid
  .span6
    %pre
      %code #{layer['query']}
  .span6
    %pre
      %code #{new_query}
%script $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
